**/Jenkinsfile* @myglam/delivery-excellence @myglam/eng-foundation-infra
Jenkinsfile* @myglam/delivery-excellence @myglam/eng-foundation-infra
.github/CODEOWNERS @myglam/delivery-excellence @myglam/eng-foundation-infra
